<mat-card>
  <mat-card-title>Cadastro</mat-card-title>
  <mat-card-content>
    <form #f="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Nome" name="nome" [(ngModel)]="usuario.nome" required>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="email" matInput placeholder="Email" name="email" [(ngModel)]="usuario.email" required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Senha" [(ngModel)]="usuario.senha" name="senha" required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Confirme a senha" [(ngModel)]="usuario.senhaConfirm"
            name="senha2" required>
        </mat-form-field>
      </p>

      <p *ngIf="error.length > 0" class="error">
        <ng-container *ngFor="let erro of error">
          <span >- {{erro}}</span><br />
        </ng-container>

      </p>
      <p *ngIf="sucesso" class="sucesso">
        {{ sucesso }}
      </p>

      <div class="button">
        <button type="submit" mat-button>Cadastrar</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
